<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <form method="post" action="text4" style="border:2 solid #FFCCCC">
        <br/>
        <div class="tx">
            <div class="word">
                用户名
            </div><br/>
            <input type="text" name="username" class="txtx" style="border-radius:5px;"/><br/><br/>
            <div class="word">密码</div><br/>
            <input type="password" name="password" class="txtx" style="border-radius:5px;"/><br/><br/>
        </div>
        <div class="button">
            <input class="small-button" type="reset" value="清除" style="border-radius:10px;background:#BEBEBE;"/>
            <input class="small-button" type="submit" value="确定" style="border-radius:10px;background:#BEBEBE;"/>
        </div>
    </form>
</head>
<body>

</body>
</html>